@import 'variables';

.container{
    padding-top: 0;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: #FFEB3B;
        // background-color: #87ace4;
        // font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: $medium;
        color: yellow;
        z-index: 10;
        max-width: 100%;
        padding: 10px;
        font-weight: 700;

        ul{
            display: flex;
            list-style-type: none;
        }

        li{
            padding: 0 10px;;
            &:hover{
                color:chocolate;
            }
        }
    }
}

.hero{
    background-image: url('../images/math_blackboard.png');
    height: 70vh;
    


    &-announcement{
        background-color: rgba(169, 189, 245, 0.75);
        border-radius: 8px;
        padding:20px;
        width: 20%;
        font-family: Arial, Helvetica, sans-serif;

        position: relative;
        top: 25%;
        left: 15%;

        .email-signup{
            display: flex;

            // a {
            //     text-decoration: none;
            //     color: rgb(97, 96, 96);
            //     background-color: orange;
            //     padding: 6px;
            //     border-radius: 5px;
            // }

            input{
                margin-right: 15px;
                border-radius: 5px;
            }
        }
    }
}