@mixin card_properties($alignment : center) {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: $alignment;
    margin: 15px 0;
    width: 90%;
    height: 40%;
    background-color: lighten($primary-color, 15%);
}