
@media screen  and (max-width: 970px) {
    .hero{
        &-announcement{
            width: 300px;
        }
    }

}

@media screen  and (max-width: 767px) {
    nav{
        flex-direction: column;
    }

    .left-image {
        display: none!important;
    }

    .card {
        height: auto;
        .columns{
            flex-direction: column;
            align-items: center;
            width: 100%;
            // height: auto;
        }

        &-2, &-3, &-4, &-5{
            margin: auto;
            height: auto;
            margin-bottom: 5px;
        }
    }

    .misc {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .feature_problem {
        align-self: center;
        width: 100%!important;
    }

    .videos {
        display: flex;
        flex-direction: column;
        
        &-1, &-2, &-3, &-4{
            width: 85vw;
            height: 44vh;
        }
    }
    
}

@media screen  and (max-width: 600px) {
    nav{

        img{
            display: none;
        }

        ul{
            flex-direction: column;
        }
    }

 .card {
     .card-1{
         display: none;
     }

 }

}
