@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import 'variables';
@import 'header';
@import 'cards';
@import 'featured_problem';
@import 'buttons';

body{
    // background-color:  #acc8e2;
    // background-color:linear-gradient(royalblue,yellow);
    background-image: linear-gradient(royalblue, $light-royalblue);
    // background-color:royalblue;
    // max-width: 1100px;
    // margin-right: auto;
    // margin-left: auto;
    margin-left: 0;
    margin-right: 0;
}

footer{
    text-align: center;
    padding-top: 70px;
    color: gray;
}

@import 'responsive';